@model IEnumerable<CharityOrganization.Models.Organisation>

@{
    ViewBag.Title = "CharityInCity";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@*@using (Html.BeginForm("Donate", "Home", FormMethod.Post,new { @class = "donateForm"}))
{*@

   <form class="donateForm">
    @foreach (var item in Model)
    {
        if (item.OrganisationCity == ViewBag.CitySelected)
        {

            <div class="container cityDesign">
                <div class="col-xs-8">
                    <div style="font-family:'Palatino Linotype'; color:#005A31; font-size:large">
                        @Html.DisplayFor(modelItem => item.OrganisationName, new { htmlAttributes = new { @class = "charityInCityTextDesign", @id = "OrgText_" + item.OrganisationName } })
                    </div>
                    <div style="font-family:'Palatino Linotype';font-size:medium">
                        @Html.DisplayFor(modelItem => item.OrganisationStreetNo)
                    </div>
                    <div style="font-family:'Palatino Linotype';font-size:medium">
                        @Html.DisplayFor(modelItem => item.OrganisationCity)
                    </div>
                    <div style="font-family:'Palatino Linotype';font-size:medium">
                        @Html.DisplayFor(modelItem => item.OrganisationState)
                    </div>
                    <div style="font-family:'Palatino Linotype';font-size:medium">
                        @Html.DisplayFor(modelItem => item.OrganisationZipCode)
                    </div>
                </div>
                <div class="col-xs-2"></div>
                <div class="col-xs-2">
                    @*<input type="button" value="Donate" id="btnDonate_@item.OrganisationName" class="btn btn-primary btnRedesign" style="background-color:#005A31;color: #ffffff;" />*@
                    @*@Html.ActionLink("Donate","Donate","Home",new { Organization = "Tech Org"})*@
                    @Html.ActionLink("Donate","Donate",new { Organization = item.OrganisationName})
                </div>
            </div>

        }

    }
</form>

@*}*@

@*@foreach(var item in Model)
{
    if (item.OrganisationCity == ViewBag.CitySelected)
    {

<script type="text/javascript">

   $('#btnDonate_@item.OrganisationName').click(function() {
        var Org = $('#OrgText_@item.OrganisationName').text();
            var url = '@Url.Action("Donate", "Home")?Organization=' + Org;
       window.location.href = url;
       $('#btnDonate_@item.OrganisationName').submit();
       $('.donateForm').submit();
        });

</script>
    }
}*@


